* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h1+div {
    text-align: center;
    margin-bottom: 10px;
}

.turn-container {
    display: flex;
    justify-content: center;
}

.player1,
.player2 {
    margin: 0 10%;
}

.targetboard,
.gameboard {
    margin: 10px;
    justify-self: center;
}

.targetboard > div,
.gameboard > div {
    border: 1px solid #000000;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: 40px;
}

.targetboard > div:last-of-type,
.gameboard > div:last-of-type {
    border-bottom: 1px solid #000000;
}

.targetboard > div > div,
.gameboard > div > div {
    border-right: 1px solid #000000;
    text-align: center;
    align-content: center;
}

.targetboard > div > div:last-of-type,
.gameboard > div > div:last-of-type {
    border-right: none;
}

.ship {
    background-color: darkcyan;
}

.hide {
    display: none;
}