:root {
    /* CSS HEX */
    --snow: #FFFCFF;
    --slate-gray: #7286A0;
    --gunmetal: #2B303A;
    --red-pantone: #e71d36ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gunmetal);
    color: var(--snow);
    font-size: 16px;
}

h1, h1+div {
    text-align: center;
    margin-bottom: 10px;
}

h1+div {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

h1+div button {
    padding: 5px 12px;
    cursor: pointer;
}

h3 {
    font-size: 1.4rem;
}

.turn-container {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.message {
    text-align: center;
}

.player1,
.player2 {
    margin: 0 10%;
}

.player1 p,
.player2 p {
    font-size: 1.2rem;
}

.targetboard,
.gameboard {
    margin: 10px;
    justify-self: center;
}

.targetboard > div,
.gameboard > div {
    border: 1px solid var(--snow);
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: 40px;
}

.targetboard > div:last-of-type,
.gameboard > div:last-of-type {
    border-bottom: 1px solid var(--snow);
}

.targetboard > div > div,
.gameboard > div > div {
    border-right: 1px solid var(--snow);
    text-align: center;
    align-content: center;
}

.targetboard > div > div:last-of-type,
.gameboard > div > div:last-of-type {
    border-right: none;
}

.targetboard > div > div {
    cursor: pointer;
}

.targetboard > div > div:hover {
    background-color: var(--red-pantone);
}

.targetboard > div > div.label {
    cursor: initial;
}

.targetboard > div > div.label:hover {
    background-color: var(--gunmetal);
}

.ship {
    background-color: var(--slate-gray);
}

.marker {
    width: 50%;
    height: 50%;
    border: 1px solid;
    border-radius: 10px;
    justify-self: center;
}

.marker.hit {
    border-color: var(--red-pantone);
    background-color: var(--red-pantone);
}

.marker.miss {
    border-color: var(--snow);
    background-color: var(--snow);
}

.place-ship-form {
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
    text-align: right;
}

p.error {
    grid-column: span 2;
    text-align: left;
}

button.submit-btn {
    grid-column: span 2;
    cursor: pointer;
}

.change-turn-modal {
    justify-self: center;
    align-self: end;
    height: 90%;
    width: 60%;
    text-align: center;
    align-content: center;
    background-color: var(--slate-gray);
    color: var(--snow);
    font-size: 20px;
}

.change-turn-modal button {
    color: var(--snow);
    background-color: var(--gunmetal);
    padding: 8px 16px;
    cursor: pointer;
}

.turn-message {
    margin-bottom: 20px;
}

.hide {
    display: none;
}